<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SQL Builder</a>
    </div>
</div>

<div class="nav-menu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="builder">
                <span class="bi bi-diagram-3" aria-hidden="true"></span> Query Builder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="bi bi-file-earmark-code" aria-hidden="true"></span> Templates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="bi bi-clock-history" aria-hidden="true"></span> History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .navbar-brand {
        font-size: 1.1rem;
    }

    .top-row {
        height: 3.5rem;
        background-color: rgba(0,0,0,0.4);
    }

    .nav-menu {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        height: calc(100vh - 3.5rem);
    }

    .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item ::deep a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }
</style>