@page "/builder"
@using VisualSqlBuilder.Core.Components

<PageTitle>SQL Query Builder</PageTitle>

<div style="height: calc(100vh - 3.5rem);">
    <SqlQueryBuilder ConnectionString="@connStr" OnQueryGenerated="@HandleQuery" />
</div>

@code {
    private string connStr = "Server=.;Database=deals_db;Trusted_Connection=True;";

    private Task HandleQuery(string sql)
    {
        Console.WriteLine($"Generated SQL: {sql}");
        return Task.CompletedTask;
    }
}